<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container">
<h3>Create user</h3>
    <form class="clearfix" action="/users/new/process" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" name="user[fname]" class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" name="user[lname]" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary float-right">Create</button>
    </form>
</div>